# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
client/node_modules/

# Production Build
client/dist/

# Environment Variables
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# Editor Directories & Files
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Cache
.cache/
.eslintcache

# Vite
vite.config.ts.timestamp-*

# Optional
*.local

vite-output.log
*.log

.dockerignore